<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        button {
            background: lightcoral;
            cursor: pointer;
            width: 10vw;
            height: 5vw;
        }

    </style>

</head>
<body >
    <h1 th:text="${authenticatedRequestResult}"></h1>
    <form method="POST" action="/authentication-required">
        <button type="submit" value="Make request"></button>
    </form>
</body>
</html>
